#timeline-date-select {
  background-color: aliceblue;
  text-align: center;
  width: 350px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#timeline-date-select > .shiny-date-input {
  margin: auto;
  padding: 5px;
  width: 250px;
}

#timeline-content {
  background-color: white;
}

#repull {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  margin: 5px;
  background-color: aliceblue;
}

.timeline-container {
  position: relative;
  border: 1px solid lightslategrey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}